/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../../lib/ionic/fonts" !default;


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Bootstrap CSS (angular-ui-bootstrap dependancy)
@import "node_modules/bootstrap/dist/css/bootstrap";

// Default Style Sheet (anything in here will be overwritten by the ITCSS SASS heriarchy detailed below)
@import "www/css/style"


/*
* Inverted Triangle CSS (ITCSS), courtesy of Harry Roberts. 
* SRC: http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528
* Each folder contains a readme.md file, which explains the expected content. 
* Make sure to import files in the order specified below:
*/

// SETTINGS


// TOOLS


// GENERIC
@import "generic/generic.normalize";


// ELEMENTS


// OBJECTS


// COMPONENTS


// TRUMPS
